/* style.css */
body {
    font-family: 'Courier New', monospace;
    background-color: #1E1E28;
    color: #919969;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    height: 100vh;
    margin: 0;
    text-align: center;
    overflow-y: hidden;
}

h1 {
    margin-bottom: 5px;
    margin-left: -250px;
}

/* Divider */
hr {
    height: 0;
    border: 0;
    border-top: 5px solid #B2BD7E;
    width: 100%;
}

/* Centering Container */
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 90%;
}

/* Input and Result Styling */
#result, input {
    line-height: 20px;
    font-size: 18px;
    color: #B2BD7E;
    width: 500px;
    outline: none;
    text-align: left;
    box-sizing: border-box;
}

input {
    padding: 10px;

    border: 3px solid #7e5555;
    background-color: #1E1E28;
    border-radius: 5px;
    font-weight: bold;
    height: 50px;
}

#result {
    color: #919969;
    overflow-y: auto;
    height: 27vh;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #777e55;
}

/* Custom scrollbar for #result */
#result::-webkit-scrollbar {
    width: .5em;
    height: .2em;
}

#result::-webkit-scrollbar-track {
    background: #777e55;
}

#result::-webkit-scrollbar-thumb {
    background: #5d6342;
    border-radius: 0px;
}

/* Mobile adjustments */
@media screen and (max-width: 600px) {
    body {
        padding: 20px;
    }
    .center-container {
        width: 100%;
    }
    #result, input {
        width: 90%;
    }
}
