// style.css
body {
    font-family: 'Courier', Courier, monospace;
    background-color: black;
    color: #FF5555;
    text-align: left;
    white-space: pre-wrap;
    scrollbar-width: thin;
    scrollbar-color: #DA947A;
    align-items: center;
    overflow-y: auto;
}

#output {
    position: fixed;
    bottom: 70px;
    top: 20px;
    left: 30px;
    right: 30px;
    color: #DA947A;
    font-size: 14px;
    padding: 10px;
    text-align: left;
    margin-top: 10px;
    background-color: #1E1E28;
    border: 1px solid #DA947A;
    overflow-y: auto;
    box-sizing: border-box;
}

.input-field {
    position: fixed;
    bottom: 30px;
    left: 30px;
    right: 30px;
    padding: 10px;
    background-color: #1E1E28;
    border: 1px solid #DA947A;
    height: 30px;
    color: #B2BD7E;
    outline: none;
    font-size: 16px;
}

#output .command {
    color: #DA947A;
}
#output .header {
    color: #DA947A;
    font-size: 12px;
}
#output .title {
    color: #CEC075;
}
#output .description {
    color: #B5B5B5;
}
#output .persons {
    color: #79ABD9;
}
#output .direction {
    color: #B2BD7E;
}

#output::-webkit-scrollbar {
    width: 8px;
}
#output::-webkit-scrollbar-thumb {
    background-color: #DA947A;
}
#output::-webkit-scrollbar-track {
    background-color: black;
}
