body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    text-align: center;
}

.lists {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.list {
    width: 22%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px;
    border: 0px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    cursor: pointer;
}

li.selected {
    background-color: #d4edda;
    border-color: #c3e6cb;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

#status {
    margin-top: 10px;
}

#timer {
    display: block;
    margin: 10px auto;
}
