body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://raw.githubusercontent.com/alternatebummer/games/main/fishingsim/ols/headerbgrepeat.png');
    background-repeat: repeat-x;
    background-size: auto;
    background-color: lightblue;
}

.container {
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
}

.nav-and-ops {
    text-align: left !important;
}

.logo img {
    position: absolute;
    top: 4px;
    margin-left: -50px;
    z-index: 0;
}

#clock, #calendar {
    margin-top: 20px;
    font-size: 15px;
}

.boat-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 8px;
}

.boat-container h3 {
    margin: 0 0 10px;
    text-align: left;
}

.boat-container p {
    margin: 5px 0;
}

.boat-container label {
    margin-right: 10px;
}
#navigation {
    width: 120px;
}
#operation {
    width: 120px;
    margin-left: 2px;
}
#countdown {
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
    color: #007BFF;
    font-family: monospace;
}
