/*style.css*/
  body {
    font-family: "Courier New", monospace;
    background-color: black;
    color: #83946B;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #game-container {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  #inventory {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    border: 3px dotted #83946B;
    padding: 10px;
    color: #927951;
    box-sizing: border-box;
    overflow-y: auto;
    white-space: pre-wrap;
  }
  #message-log {
    position: fixed;
    text-align: right;
    top: 0;
    right: 0;
    width: 60%;
    height: 50%;
    border: 3px dotted #83946B;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    white-space: pre-wrap;
  }
  #action-log {
    position: fixed;
    text-align: right;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 50%;
    border: 3px dotted #83946B;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    white-space: pre-wrap;

  }
  #inventory div,
  #action-log div,
  #message-log div {
    padding: 3px;
    cursor: pointer;
    color: #83946B;
    font-size: 16px;
    font-weight: normal;
  }
  #inventory div:hover {
    background: #2A372C;
  }
  #build-menu {
    display: none;
    position: absolute;
    font-size: 16px;
    top: 10%;
    left: 20%;
    border-radius: 10px;
    transform: translateX(-50%);
    background: black;
    text-align: center;
    font-weight: lighter;
    color: #83946B;
    border: 3px dotted #83946B;
    padding: 10px;
    width: 300px;
    z-index: 1001;
  }
  #build-menu div {
    padding: 5px;
    cursor: pointer;
  }
  #build-menu div:hover {
    background: #2A372C;
    text-align: center;
  }
  #close-build-menu {
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
  }
  #close-build-menu:hover {
    background: #2A372C;
  }
  /* --- New CSS for the date modal --- */
  #date-modal {
    position: fixed;
    bottom: 0;
    left: 20%;
    bottom: 5%;
    transform: translateX(-50%);
    background: black;
    border-radius: 10px;
    color: #83946B;
    font-weight: bold;
    padding: 10px;
    border: 3px dotted #83946B;
    font-family: "Courier New", monospace;
    z-index: 1000;
  }
