/* style.css */
html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', monospace;
    background-color: #1E1E28;
    color: #998f69;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 16px;
    line-height: 17px;
    text-align: left;
    overflow: hidden;
}
#game {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
    white-space: pre-wrap;
    width: 95%;
}
#dialogue-options,
#inventory {
    font-family: monospace;
    font-size: 16px;
    color: #919969;
    border-top: 1px solid #777e55;
}
#input {
    width: 100%;
    border: 0px solid #7e5555;
    background-color: #1E1E28;
    border-radius: 0px;
    height: 30px;
    font-family: monospace;
    font-size: 16px;
    color: #B2BD7E;
    outline: none;
    box-sizing: border-box;
    margin-top: 0px;
}
#input:focus {
    border-color: #B2BD7E;
}

.details {
    color: #7c9969;
}
.testimony {
    color: #997669;
}
